html, body{
    margin: 0;
    padding: 0;
    width: 100%;
}
body{
    width: 100%;
    height: 100vh;
   /* background-color: #f09297bb ;*/
    background-color: #366C36 ;
    background-position: center;
    background-repeat: no-repeat ;
    background-size: cover;
    display: table;
    font-family: 'Open Sans', sans-serif;
}

.navbar{
    position:  relative;
    top: 0;
    left: 0%;
    margin: 0;
    padding: 0%;
    width: 100%;
    height: 50%;
    border-bottom: 2px solid #ffff;

}
.bg-pink{
    background-color: #AFC8AF;
    color:#c51174;
}
.navbar-pink{
    background-color: #f3e7e7;
}
.navbar-light .navbar-nav .nav-link{
    color: #ffff;
}
.navbar-expand-sm .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
}

.cuentas {
 position: relative;
    left: 50%;
    top: 65%;
    text-align: center;
    border-collapse: collapse;
    transform: translate(-50%, -50%);
    width: 100%;
    background: rgba(0,255,0,0.2);
     padding: 10px 20px;
    box-sizing: border-box;
    text-align: center;
border-radius: 2%;
}


.cuentas h2{
    font-family:Trebuchet MS;
    color: #FFFF;
    /*font-size: 40px;*/
    font-weight: 100;
    font-weight: bold;
    margin-bottom: 8px;
}
.cuentas h3{
    font-family:Trebuchet MS;
    color: #FFFF;
    font-weight: 100;
    font-weight: bold;
    margin-bottom: 8px;
}
.cuentas p{
    color: #FFFF;
    font-size: 24px;
    font-weight: lighter;
}

.cuentas img{
    border-radius: 10px;
}
.btn-modify {
    color: #ffff;
    border-color: #ffff;
    background-color: #AFC8AF;
}


.btn-modify {
    color: #ffff;
    border-color: #ffff;
    background-color: #AFC8AF;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
  display: table;
  width: 100%;
  background: rgba(0,255,0,0.2);
    
}

td, th {
  padding: 0;
    display: table-cell;
  padding: 20px 7px;
  border-left: 1px solid rgba(149, 165, 166,0.8);
  text-align: center;
  width: 20%;   
}


header{
    width: 100%;
    height: 60px;
    position: fixed;
    left: 0;
    top: 0;
    background: #AFC8AF;;
}

#check{
    display: none;
}

#check:checked ~ .menu{
    width: 400px;
}


.menu{
    color: white;
    position: fixed;
    top: 170px;
    width: 0px;
    height: 100vh;
     background: #366C36;
    transition: all 500ms cubic-bezier(1,0,0,1);
    transition-timing-function: cubic-bezier(1,0,0,1);
    overflow: hidden;
    cursor: pointer;
    z-index: 10;
}
.menu a{
    color: white;
}

.menu li{
    list-style: none;
    padding: 16px;
    color: white;
    cursor: pointer;
    transition: all 300ms;
    display: block;
    width: 300px;
    left: 10;
}

.menu li:hover{
    background: rgba(0,0,0,0.2);
}



tr {
  display: table-row;
  width: 100%;
}

th, td{
    padding: 20px;
}
 thead{
    background-color: #5D6D7E;
    border-bottom: solid 5px #34495E;
    color: white;
}
 tr:nth-child(even){
    background-color: #ddd;
}
tr:hover td{
    background-color: #707B7C;
    color: white;
}
