*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

main{
     width: 100%;
    height: 100vh;
    position: absolute;
    background: #366C36 ;
     background-position: center;
    background-repeat: no-repeat ;
    background-size: cover;
    display: table;
}



header{
    width: 100%;
    height: 60px;
    position: fixed;
    left: 0;
    top: 0;
    background: #AFC8AF;;
}

#check{
    display: none;
}

#check:checked ~ .menu{
    width: 400px;
}


.menu{
    position: fixed;
    top: 60px;
    width: 0px;
    height: 100vh;
     background: #366C36;
    transition: all 500ms cubic-bezier(1,0,0,1);
    transition-timing-function: cubic-bezier(1,0,0,1);
    overflow: hidden;
}
.menu a{
    color: white;
}

.menu li{
    list-style: none;
    padding: 16px;
    color: white;
    cursor: pointer;
    transition: all 300ms;
    display: block;
    width: 300px;
}

.menu li:hover{
    background: rgba(0,0,0,0.2);
}

article{
    padding: 40px;
}


.content-all{
    width: 100%;
    max-width: 1000px;
    background: rgba(0,255,0,0.2);
    margin: auto;
    margin-top: 80px;
    border: 2px solid white;
    
}

.content-all label{
    position: fixed;
    width: 100%;
    max-width: 1000px;
    top: 14px;
    font-size: 26px;
    color: white;
    cursor: pointer;
    z-index: 10;
}

.content-all h2{
    position: fixed;
    width: 100%;
    max-width: 1000px;
    top: 14px;
    font-size: 26px;
    text-align: right;
    color: white;
}



article .parrafo2{
    font-size: 20px;
    color: white;
    margin-top: 40px;
    letter-spacing: 1px;
}
article h1{
    font-size: 30px;
    color: white;
    font-weight: 100;
    margin-top: 20px;
}

article .parrafo1{
  font-size: 20px;
    color: white;
    margin-top: 40px;
    letter-spacing: 2px;
}
















