html, body{
    margin: 0;
    padding: 0%;
 
    width: 100%;
}
body{
    width: 100%;
    height: 100vh;
   /* background-color: #f09297bb ;*/
    background-color: #366C36 ;
    background-position: center;
    background-repeat: no-repeat ;
    background-size: cover;
    display: table;
    font-family: 'Open Sans', sans-serif;
}

.navbar{
        position:  relative;
    top: 0;
    left: 0%;
    margin: 0;
    padding: 0%;
    width: 100%;
    height: 50%;
    border-bottom: 2px solid #ffff;

}
.bg-pink{
    
    background-color: #AFC8AF;
    
}
.navbar-pink{
    background-color: #f3e7e7;
}
.navbar-light .navbar-nav .nav-link{
    color: #ffff;
}
.navbar-expand-sm .navbar-nav .nav-link {
    padding-right: .5rem;
    padding-left: .5rem;
}



#check{
    display: none;
}

#check:checked ~ .menu{
    width: 400px;
}


.menu{
    position: fixed;
    top: 140px;
    left: 0px;
    width: 0px;
    height: 100vh;
     background: #366C36;
    transition: all 500ms cubic-bezier(1,0,0,1);
    transition-timing-function: cubic-bezier(1,0,0,1);
    overflow: hidden;
}
.menu a{
    color: white;
}

.menu li{
    list-style: none;
    padding: 16px;
    color: white;
    cursor: pointer;
    transition: all 300ms;
    display: block;
    width: 300px;
}

.menu li:hover{
    background: rgba(0,0,0,0.2);
}



.cuentas {
 position: relative;
    left: 50%;
    top: 65%;
    text-align: center;
    border-collapse: collapse;
    transform: translate(-50%, -50%);
    width: 100%;
    background: rgba(0,255,0,0.2);
     padding: 10px 20px;
    box-sizing: border-box;
    text-align: center;
border-radius: 2%;
}


.cuentas h2{
    font-family:Trebuchet MS;
    color: #FFFF;
    /*font-size: 40px;*/
    font-weight: 100;
    font-weight: bold;
    margin-bottom: 8px;
}
.cuentas h3{
    font-family:Trebuchet MS;
    color: #FFFF;
    font-weight: 100;
    font-weight: bold;
    margin-bottom: 8px;
}
.cuentas p{
    color: #FFFF;
    font-size: 24px;
    font-weight: lighter;
}

.cuentas img{
    border-radius: 10px;
}
.btn-modify {
    color: #ffff;
    border-color: #ffff;
    background-color: #AFC8AF;
}

.principal {
  position: relative;
    left: 50%;
    top: 50%;
    text-align: center;
    border-collapse: collapse;
    transform: translate(-50%, -50%);
    width: 100%;
    background: rgba(0,255,0,0.2);
     padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 2%;
}
.principal h2{
    font-family:Trebuchet MS;
    color: #FFFF;
    /*font-size: 40px;*/
    font-weight: 100;
    font-weight: bold;
    margin-bottom: 8px;
}
.principal h3{
    font-family:Trebuchet MS;
    color: #FFFF;
    font-weight: 100;
    font-weight: bold;
    margin-bottom: 8px;
}
.principal p{
    color: #FFFF;
    font-size: 24px;
    font-weight: lighter;
}

.principal img{
    border-radius: 10px;
}
.btn-modify {
    color: #ffff;
    border-color: #ffff;
    background-color: #AFC8AF;
}